<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-customer-view">
            <?php echo $this->__('Customer Gift Registry List'); ?>
        </h4>
    </div>

    <?php echo $this->getChildHtml('tab_giftregistry_list'); ?>
</div>