<?php $registry = Mage::registry('loaded_registry'); ?>

<h3>
    <?php echo $registry->getEventName(); ?>
</h3>
<p>
    <strong>
        <?php echo $this->__('Event Date:');?>
    </strong>
    <span>
        <?php echo $registry->getEventDate(); ?>
    </span>
    <br>

    <strong>
        <?php echo $this->__('Event Location:');?>
    </strong>
    <span>
        <?php echo $registry->getEventLocation(); ?>
    </span>
    <br>

    <strong>
        <?php echo $this->__('Event Country:');?>
    </strong>
    <span>
        <?php echo $registry->getEventCountry(); ?>
    </span>
</p>